- name: Install repo
  become: yes
  get_url:
    url: https://copr.fedorainfracloud.org/coprs/vbatts/bazel/repo/epel-7/vbatts-bazel-epel-7.repo
    dest: /etc/yum.repos.d/
    mode: 0755
- name: install common packages
  become: yes
  yum:
    state: present
    name:
      - bazel
