- file:
    path: $HOME/.bash.d
    state: directory
    mode: 0755
- git:
    repo: https://github.com/syndbg/goenv.git
    dest: $HOME/.goenv
- template:
    src: goenv.sh.j2
    dest: $HOME/.bash.d/goenv.sh

