- name: install packages for ruby install
  become: yes
  yum:
    state: present
    name:
      - gcc
      - openssl-devel
      - readline-devel
      - zlib-devel
- file:
    path: $HOME/.bash.d
    state: directory
    mode: 0755
- git:
    repo: https://github.com/rbenv/rbenv.git
    dest: $HOME/.rbenv
  notify: build
- template:
    src: rbenv.sh.j2
    dest: $HOME/.bash.d/rbenv.sh
